html {
  background: url(../img/bg.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  color: #EFE2D5;
}

#wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  font-family: 'Prompt', sans-serif;
  font-weight: bold;
  font-size: 3em;
}

#groeting {
   text-align: center;
}

#tijd {
font-size: 4em;
}

#sec {
  font-size: 0.3em;
}

#persoon {
  text-transform: uppercase;
}

h1 {
  margin: 0;
}

input {
  width: 70%;
  height: 30px;
  background: none;
  border-bottom: 1px white solid;
  border-right: none;
  border-top: none;
  border-left: none;
  color:white;
}
input:focus, input:active {
  outline:none;
}

::placeholder {
  color: white;
}

button {
  height: 36px;
  border: 1px solid white;
  background: none;
  color: white;
  width: 80px;
}
button:hover {
  background: white;
  color: #c22d14;
  cursor: pointer;

}
